<ion-content color="dark">
  <figure class="login-figure">
    <img src="../../assets/logo.jpg" />
  </figure>
  <div class="login-title">
    <h1>Inicia Sesión</h1>
    <h5>Las mejor rumba en tu mano 🥳</h5>
  </div>
  <hr />
  <form
    [formGroup]="loginForm"
    (ngSubmit)="logIn(loginForm.value)"
    class="ion-text-center"
  >
    <div class="login-validation">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div
          *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item class="login-input">
      <ion-label position="floating" autocomplete="on" background="dark"
        >Email</ion-label
      >
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <div class="login-validation">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div (click)="print(this.loginForm.get('password').errors)"
        *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)"
        >
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item class="login-input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button
      padding
      fill="outline"
      shape="round"
      type="submit"
      [disabled]="!loginForm.valid"
      >Entrar</ion-button
    >
  </form>
  <div class="login-register" background="dark">
    <h6>¿No tienes cuenta? Empieza a disfrutar ahora!</h6>
    <ion-button
      class="ion-padding"
      color="secondary"
      fill="outline"
      size="small"
      shape="round"
      (click)="goToRegister()"
      >Registrate</ion-button
    >
  </div>
  <div class="login-footer">
    <figure>
      <img src="../../assets/footer.png" />
    </figure>
  </div>
</ion-content>
