<div class="tab1-title">
    <h2>A que rumba iremos hoy? 💃</h2>
    <p>Dale a botón <ion-icon color="primary" size="large" name="add-circle"></ion-icon> y cuéntanos tu mood de hoy.</p>
</div>
<ion-content [fullscreen]="true" color="dark">
  <div id="map"></div>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/filter">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>